@page "/news"
@using RJHWebsite.Enums;
@using System.Configuration
@model RJHWebsite.Pages.News.NewsModel
@{
    ViewBag.Title = "Latest News";
    ViewBag.NavButtonNames = "news-nav-btn";
}
@section head{
    <meta name="robots" content="noindex">
}
<div class="left-right-padding">
    <div class="row">
        <nav aria-label="breadcrumb" class="mt-4">
            <ol class="breadcrumb pl-0">
                <li class="breadcrumb-item"><a href="@ConfigurationManager.AppSettings["Home"]">Home</a></li>
                <li class="breadcrumb-item active"><a href="@ConfigurationManager.AppSettings["News"]">News</a></li>
            </ol>
            <hr class="mb-0" />
        </nav>
    </div>
    <div class="top-bottom-padding">
        <div class="row row-plr-0">
            @foreach(var newsArticle in Model.NewsInformationModel)
            {
                <div class="col-md-6 col-12 mb-4">
                    <div class="all-news-individual-container">
                        <h3 class="news-page-title mb-3">@newsArticle.Title</h3>
                        <partial name='partials/_image' model='new RJHWebsite.Models.ImageModel(){ ImageClassName = "main-news-page-img",ImageName=newsArticle.ImagePath+"-md", ImageDescription = newsArticle.ImageDescription, IncludeOtherSizes = false}'/>
                        <p><i>Source: <a href="@newsArticle.SourceLink" target="_blank">@newsArticle.SourceName</a></i></p>
                        <p><i>@newsArticle.PublishedDate</i></p>
                        <br />
                        <p class="news-right-text">
                            @(Html.Raw(System.Web.HttpUtility.HtmlDecode(newsArticle.Body.Substring(0, 200))))...
                        </p>
                        <a class="mt-3 btn btn-blue" href="/news/@newsArticle.PageName"><p>Read More</p></a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>